{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
	    {{ form_widget(form) }}
	    <button type="submit" class="btn btn-success" id="_submit">{{ 'registration.submit'|trans }}</button>
	{{ form_end(form) }}
{% endblock fos_user_content %}
